.amz-button {
  background-color: rgb(255, 216, 20);
  border: none;
  padding: 5px 40px;
  border-radius: 20px;
  font-family: arial;
  cursor: pointer;
}

.req-button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;

}

.sched-button {
  background-color: rgb(230,230,230);
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer;

}

.toggle-button {
  background-color: rgb(230,230,230);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.is-toggled {
  background-color: black;
  color: white;
  
}